{
  "defaultSeverity": "warning",
  "extends": "stylelint-config-recommended",
  "customSyntax": "postcss-scss",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "content",
          "each",
          "else",
          "elseif",
          "extend",
          "for",
          "function",
          "if",
          "include",
          "mixin",
          "return"
        ]
      }
    ],
    "no-empty-source": null
  }
}
